NEXT_PUBLIC_SUPABASE_URL=https://bxcuddvcwmqkaiaupjll.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4Y3VkZHZjd21xa2FpYXVwamxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTUyMDMsImV4cCI6MjA5MDI3MTIwM30.V55U6jI5u6HetDXtZfp2Ql7NCZ6Uh7E0gLkPcIb96LU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4Y3VkZHZjd21xa2FpYXVwamxsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY5NTIwMywiZXhwIjoyMDkwMjcxMjAzfQ.Ylt6w675PDQMUPRurST5NWtv1er6KOu3VFHRPNO8920

REGOLO_API_KEY=sk-Zfdkq5dPA03DaGg5s9KKvQ
REGOLO_API_URL=https://api.regolo.ai/v1

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

OPENAQ_API_KEY=
